.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
  }
  
  .search-bar input {
    height: 20px;
    border: none;
    border-radius: 20px;
    padding: 0 20px;
    font-size: 16px;
  }

  .search-bar input::placeholder {
    text-align: center;
  }
  
  .search-bar button {
    height: 20px;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #444;
  }